* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

#box0 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 0;
    width: 100%;
    height: 40px;
}
#btn1,#btn2,#btn3
{
    font-family: Pixelify Sans, Codeman38, Silkscreen, Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: #707070;
    color: #ffffff;
    border-radius: 5px;
    padding: 4px 8px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    margin: 10px;
    box-sizing: border-box;
}
#btn1:hover,#btn2:hover ,#btn3:hover {
    background-color: #c10005; 
    transform: scale(1.05); 
}

#box1 {
    margin-top: 150px;
    align-self: center;
    justify-self: center;
    background-color: black;
    width: 150px;
    height: 112px;
}

#logo-image {
    margin-left: 2vw;
    width: 100%;
    height: auto;
    object-fit: cover;
}

#box2 {
    align-self: center;
    justify-self: center;
    background-color: black;
    margin: 5px;
    height: auto;
    width: auto;
}

#box2 h1 {
    color: white;
    font-family: Orbitron, Pixelify Sans, Codeman38, Silkscreen, Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.2rem;
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid orange;
}