* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

#box1 {
    width: 20vw;
    height: auto;
}

img {
    width: 20vw;
    margin: -20%;
    height: auto;
    
}

#box2 {
    display: inline-block;
    height: auto;
}

#box2 h1 {
    color: white;
    font-family: Orbitron, Pixelify Sans, Codeman38, Silkscreen, Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.2rem;
    font-size: 8vh;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid orange;
    animation: typing 3.8s steps(19, end), blink 0.7s step-end infinite;
    transition: clip-path 0.5s ease-out;

}

@keyframes typing {
    0% {
        width: 0%;
    }
    25%
    {
        width: 25%;
    }
    50%
    {
        width: 50%;
    }
    75%
    {
        width: 75%;
    }
    100% {
        width: 100%;
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

